{% extends '::base.html.twig' %}

{% block body %}{% spaceless %}
    <h2>Select group to edit form</h2>
    {% if select_group is defined %}
        {{ form(select_group) }}
    {% endif %}

    {% if form is defined %}
        {{ form_start(form) }}

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                {% for k1, m in matrix %}
                    <th>{{ k1 }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for k1, m in matrix %}
                <tr>
                    <td>{{ k1 }}</td>
                    {% for k2, statusWorflowDef in m %}
                        <td>
                            {% for swd in form.status_workflow_definitions %}
                                {% if swd.children.nextStatus.vars.value == statusWorflowDef.getNextStatus() %}
                                    {% if swd.children.currentStatus.vars.value == statusWorflowDef.getCurrentStatus() %}
                                            {{ form_widget(swd) }}
                                            {{ form_widget(swd.allowed_to_switch) }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_row(form.submit) }}
        {{ form_end(form, {'render_rest' : false}) }}
    {% endif %}
{% endspaceless %}{% endblock %}
